* {
	padding: 0;
	margin: 0;
	font-family: 'EuclidCircularB';
}

html {
	scroll-behavior: smooth;
}

body,
textarea,
input {
	padding: 0;
	margin: 0;
	line-height: 1.5;
	font-weight: 400;
	color: white;
	background-color: #161616;
	font-family: 'Gilroy', sans-serif;
}

a:hover {
	text-decoration: none;
	color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-family: 'Gilroy'
}

p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

@font-face {
    font-family: 'EuclidCircularB';
    src: url('EuclidCircularB-Light.eot');
    src: local('EuclidCircularB'), local('EuclidCircularB-Light'),
        url('../fonts/EuclidCircularB-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularB-Light.woff2') format('woff2'),
        url('../fonts/EuclidCircularB-Light.woff') format('woff'),
        url('../fonts/EuclidCircularB-Light.ttf') format('truetype');
   
}

.container {
	max-width: 1460px;
	margin: 0 auto;
}

.container-l {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 1635px;
	margin: 0 auto;
}

.wrapper {
	overflow: hidden;
}

img {
	max-width: 100%;
}

/*-_-_Header_CSS_Start_-_-*/
header {
	position: absolute;
	width: 100%;
	z-index: 9999;
	padding: 61px 0px 0px;
}

.nav-content .header-btn {
	background: linear-gradient(to right bottom, #57D760, #32A936);
	width: 165px;
	height: 54px;
	color: white;
	font-size: 18px;
	font-weight: 500;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*-_-_Header_CSS_End_-_-*/

/*-_-_Banner_CSS_Start_-_-*/
.banner {
	padding: 259px 0px 0px;
	overflow: hidden;
	position: relative;
}

.general-blob {
	position: absolute;
}

.banner-blob-right {
	right: 44px;
	top: 247px;
}

.banner .banner-inner {
	padding: 90px 0px 0px 50px;
}

.banner-inner h1 {
	font-size: 90px;
	font-weight: 600;
	max-width: 800px;
	line-height: 98px;
}

.banner-inner p {
	font-size: 28px;
	font-weight: normal;
	line-height: 60px;
	margin-bottom: 28px;
}

.banner-inner ul {
	display: flex;
	flex-wrap: wrap;
}

.banner-inner ul li {
	margin-right: 19px;
}

.banner-inner ul li:last-child {
	display: none;
	margin-right: 0;
}

.banner-inner .general-btn {
	background: linear-gradient(to right bottom, #57D760, #32A936);
	width: 184px;
	height: 49px;
	color: white;
	font-size: 18px;
	font-weight: 500;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}

.general-btn i {
	margin: auto 0px auto 12px;
	padding-top: 8%;
}

.banner-blob-left {
	left: 41px;
	margin-top: 135px;
}

.banner .banner-preview {
	width: 100%;
	margin-left: 0;
	margin-top: -200px;
}

.banner .banner-preview-mobile {
	display: none;
}

/*-_-_Banner_CSS_End_-_-*/

/*-_-_Content_CSS_Start_-_-*/


/* Pricing Start */
.pricing {
	padding: 0px 15px 50px;
	position: relative;
}

.pricing-inner {
	position: relative;
	background-color: #161616;
	border-radius: 10px;
	margin-top: -400px;
	padding: 105px 0px 0px;
	text-align: center;
}

.pricing-inner-wrap {
	z-index: 99;
	position: relative;
}

.pricing-blob-right {
	right: 207px;
	margin-top: 147px;
	z-index: 99;
}

.pricing-blob-left {
	left: 103px;
	margin-top: 490px;
	z-index: 99;
}

.sub-heading {
	font-size: 72px;
	font-weight: 700;
	line-height: 40px;
	padding-bottom: 20px;
}

.sub-description {
	font-size: 24px;
	line-height: 40px;
	color: #68F758;
}

.pricing-inner .pricing-card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 49px;
}



.pricing-card .pricing-card-content {
	background: linear-gradient(to right bottom, #2D2D2D, #202020);
	border-radius: 15px;
	padding: 48px 38px;
	box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.16);
	margin: 0px 20px;
	text-align: left;
}

.pricing-card .pricing-card-content:hover{
    transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}



.pricing-card-content .price-heading {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.price-heading h3 {
	font-size: 35px;
	font-weight: 700;
	line-height: 26px;
	padding-bottom: 20px;
}

.price-heading span {
	font-size: 35px;
	line-height: 26px;
	color: white;
	font-weight: 600;
}

.price-heading p {
	font-size: 24px;
	padding-left: 5px;
	margin-top: 4px;
	color: white;
}

span,
i {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
}

.pricing-card-content .account-services {
	padding-top: 35px;
	min-height: 300px;
}

.account-services li {
	font-size: 16px;
	line-height: 26px;
}

.account-services i {
	color: #44BF4B;
	padding-right: 16px;
}

.pricing-card-content a {
	background: linear-gradient(to right bottom, #57D760, #32A936);
	width: 100%;
	height: 49px;
	color: white;
	font-size: 18px;
	font-weight: 500;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
}

.pricing-card .free-pricing-card {
	margin: 50px 50px;
	box-shadow: none;
}

.free-pricing-card a {
	width: 260px;
	height: 49px;
	background: linear-gradient(to right bottom, #373737, #2D2D2D);
	color: white;
	font-size: 18px;
	font-weight: 500;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
	margin: 20px 20px 0px auto;
}

.circle-right {
	position: absolute;
	right: -24%;
	margin-top: -650px;
}

/* Pricing End */

/* About us Start */

.about-us {
	padding: 350px 0px;
}

.about-us-wrap {
	position: relative;
}

.about-blob-left-top {
	right: 0px;
	margin-top: -230px;
}

.circle-left {
	position: absolute;
	left: -24%;
	margin-top: -410px;
}

.about-us-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

.about-us-content .description {
	font-size: 26px;
	color: #777777;
	line-height: 40px;
	padding: 50px 0px;
}

.about-blob-right {
	right: 0px;
	margin-top: 20px;
}

.about-blob-left {
	left: 0px;
	margin-top: 100px;
}

/* About us End */

/* Faq Start */
.faq {
	padding: 50px 0px;
	margin-top: 100px;
	background: url("../images/faq-background.svg") no-repeat center center;
}

.faq .faq-headings {
	text-align: center;
}

.card {
	margin: 20px 140px;
	border-radius: 15px;
	border: 2px solid white;
	overflow: hidden;
	z-index: 99;
}

.card button {
	color: white;
}

.card button:hover {
	color: white;
}

.card-header {
	background: linear-gradient(to right bottom, #373737, #2D2D2D);
	color: white;
	border: 2px solid white;
	padding: 0px !important;
	padding: 34px 70px 32px 36px;
}

.card-header .btn[aria-expanded=true] {
	color: #fff;
	background-color: #141414;
	border-bottom: none;
}


.show {
	background-color: show;
}

.card-body {
	background-color: #141414 !important;
	padding: 0px 36px 36px;
}

.card-body p {
	font-size: 18px;
	line-height: 24px;
}

.collapsible-link {
	width: 100%;
	position: relative;
	text-align: left;
	text-decoration: none !important;
	font-size: 30px;
	font-weight: 600;
	line-height: 40px;
	padding: 34px 70px 32px 36px;
}

.collapsible-link::before {
	content: '\f107';
	position: absolute;
	top: 50%;
	right: 40px;
	transform: translateY(-50%);
	display: block;
	font-family: 'FontAwesome';
	font-size: 1.6rem;
}

.collapsible-link[aria-expanded='true']::before {
	content: '\f106';
}

.faq-blob-right {
	right: 80px;
	margin-top: -300px;
}

/* Faq End */

/* Still Not Sure Start */
.not-sure {
	padding: 226px 0px 0px;
	text-align: center;
}

.not-sure .not-sure-inner {
	padding: 50px 0px 80px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	max-width: 996.5px;
	margin: 0 auto;
}

.not-sure-inner .not-sure-content {
	width: 100%;
	margin-bottom: 40px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	/* background: linear-gradient(to right bottom, #373737, #2D2D2D); */
}

.not-sure-inner .not-sure-content:last-child {
	margin-bottom: 0;
}

.not-sure-content .entry-sold-content {
	width: calc(100% - 418px);
	padding: 21.5px 51px 31.5px;
	margin-left: -30px;
	border-radius: 0 15px 15px 0;
	background: linear-gradient(-30deg, #2C9B30, #5FC566);
	min-height: 100%;
}

.not-sure-content .entry-sold-content p {
	font-size: 20px;
	line-height: 1.68;
	color: #fff;
	margin-bottom: 28px;
	max-width: 225px;
}

.not-sure-content .entry-sold-content p:last-child {
	margin-bottom: 0;
}

.not-sure-content .ocgn-content {
	width: 448px;
	padding: 40px 0 19.5px;
	background: linear-gradient(-30deg, #2C2C2C, #212121);
	border-radius: 15px;
	z-index: 5;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	min-height: 100%;
}

.not-sure-content .ocgn-content .ocgn-content-inner {
	width: 50%;
	border-right: 3px solid #464646;
	padding-left: 51.5px;
	padding-right: 30px;
}

.not-sure-content .ocgn-content .ocgn-content-inner:nth-child(2) {
	border: 0;
	padding-left: 33.5px;
}

.ocgn-content .ocgn-content-inner span {
	display: block;
	height: auto;
	font-size: 24px;
	line-height: 1.35;
	font-weight: 500;
	color: #68F758;
	margin-bottom: -2px;
}

.ocgn-content .ocgn-content-inner h6 {
	font-size: 38px;
	line-height: 1.35;
	font-weight: 700;
	margin-bottom: 23.5px;
}

.ocgn-content .gain-content {
	padding: 0 29.5px;
	font-size: 16px;
	line-height: 1.35;
	font-weight: 500;
	width: 100%;
	display: flex;
	align-items: center;
	color: #68F758;
}

.ocgn-content .gain-content img {
	margin-right: 10px;
}

.not-sure-inner .not-sure-content:nth-child(even) {
	flex-direction: row-reverse;
}

.not-sure-content:nth-child(even) .entry-sold-content {
	margin-left: 0;
	margin-right: -30px;
	border-radius: 15px 0 0 15px;
	padding-left: 30px;
	background: linear-gradient(-30deg, #5FC566, #2C9B30);
}

.not-sure-content .quote {
	height: 29px;
}

.not-sure-content .avatar {
	height: 110px;
	width: 110px;
	border-radius: 50%;
	border: 1px solid #707070;
	padding: 7px 7px;
	margin-left: 10px;
}

.avatar-content {
	width: 65%;
	text-align: left;
	padding-left: 24px;
	font-size: 17px;
	line-height: 26px;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

.avatar-content span {
	justify-content: left;
}

.not-sure-content .not-sure-content-preview {
	background: linear-gradient(to right bottom, #585858, #3D3D3D);
	height: 410px;
	border-radius: 15px;
	    width: 100%;
	margin-top: 47px;
}
/* Still Not Sure End */



/*-_-_Content_CSS_End_-_-*/

/*-_-_Footer_CSS_Start_-_-*/
footer {
	padding: 0px 0px;
}

footer .graph {
	position: relative;
	z-index: -1;
	margin-top: -310px;
}

footer .graph-mobile {
	display: none;
}

footer .footer-wrap {
	background: linear-gradient(to right, #1a1a1a, #000000);
	padding-bottom: 85.5px;
}

footer .footer-inner {
	z-index: 99;
	margin-top: -0px;
}

footer .footer-inner .footer-logo {
	display: none;
}

.footer-inner .join-us {
	text-align: center;
}

.footer-inner .join-us h4 {
	font-size: 40px;
	line-height: 40px;
}

.footer-inner .join-us .join-us-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;
}

.join-us-btn .green-btn {
	background: linear-gradient(to right bottom, #57D760, #32A936);
	width: 184px;
	height: 49px;
	color: white;
	font-size: 18px;
	font-weight: 500;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 20px;
}

.join-us-btn .white-btn {
	width: 184px;
	height: 49px;
	border: 2px solid white !important;
	color: white;
	font-size: 18px;
	font-weight: 500;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 20px;
}

.white-btn i {
	margin: auto 0px auto 12px;
	padding-top: 8%;
}

.footer-inner .social-media {
	text-align: center;
}

.social-media h4 {
	font-size: 32px;
	line-height: 40px;
}

.social-media a {
	background: rgba(255, 255, 255, 0.19);
	border-radius: 10px;
	width: 103px;
	height: 103px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 20px 15px;
}

.footer-inner .important-links {
	text-align: center;
}

.important-links h4 {
	font-size: 32px;
	line-height: 40px;
}

.important-links ul {
	padding-top: 20px;
}

.important-links ul li {
	font-size: 18px;
	line-height: 40px;
	color: white;
}

.copyright {
	display: flex;
	padding-top: 71px;
	justify-content: center;
}

.copyright img {
	position: absolute;
	left: 20px;
	bottom: 0px;
}

/*-_-_Footer_CSS_End_-_-*/

/*-_-_Responsiveness_-_-*/

@media only screen and (max-width: 1600px) {

	/* banner start  */
	.banner .banner-preview {
		max-width: calc(100% + 8%);
		margin-top: -155px;
	}

	.banner-inner h1 {
		font-size: 80px;
	}

	.banner-inner p {
		font-size: 26px;
	}

	/* banner End  */

	/* pricing start */

	.pricing-blob-right {
		right: 80px;
		margin-top: 120px;
	}

	.pricing-blob-left {
		left: 20px;
		margin-top: 490px;
	}

	.pricing-card-content .price-heading {
		margin-left: 10px;
	}

	.price-heading span {
		font-size: 30px;
	}

	.circle-right {
		right: -35%;
	}

	/* pricing end */

	/* About us start */

	.about-blob-left-top {
		right: 220px;
	}

	.circle-left {
		left: -34%;
	}

	.about-blob-right {
		right: 100px;
	}

	.about-blob-left {
		left: 100px;
	}

	/* About us end */


	/* still not sure */

	.avatar-content {
		width: 65%;
		font-size: 14px;
		line-height: 26px;
	}

	/* still not sure */

	/* footer start */

	footer .graph {
		margin-top: -150px;
	}

	.social-media a {
		background-color: #585858;
		border-radius: 10px;
		width: 85px;
		height: 85px;
		margin: 20px 15px;
	}

	.social-media a img {
		height: 35px;
	}

	/* footer end */

}

@media only screen and (max-width: 1440px) {
    
    
    /* header start  */
    	
    header {
       padding: 30px 30px 0px;
    }
    .nav-content .header-btn {
    width: 150px;
    height: 45px;
    }


	/* banner start  */
	.banner {
    padding: 110px 0px 0px;
	    
	}
	

    
	.banner .banner-preview {
		max-width: calc(100% + 8%);
		margin-top: -144px;
	}

		.banner-blob-right {
    height: 65px;
    
	}
	.banner .banner-inner {
    padding: 75px 0px 0px 65px;
}
	
	.banner-blob-right {
    right: 30px;
    top: 150px;
	    
	}

	.banner-inner h1 {
		font-size: 63px;
		line-height: 88px;
	}


	.banner-inner p {
		font-size: 23px;
		line-height: 50px;
	}


	.banner-blob-left {
    height: 45px;
	    
	}
	
	.banner-blob-left {
    left: 15px;
    margin-top: 112px;
	    
	}

	/* banner End  */

	/* pricing start */

	.pricing-inner {
		margin-top: -300px;
	}

	.pricing-blob-right {
		right: 70px;
		margin-top: 80px;
		height: 80px;
	}

	.pricing-blob-left {
		left: 20px;
		margin-top: 400px;
		height: 80px;
	}

	.pricing-card .pricing-card-content {
		margin: 0px 0px 35px 0px;
		padding: 55px 30px;
	}

	.sub-heading {
		font-size: 52px;
		line-height: 35px;
	}

	.sub-description {
		font-size: 20px;
		line-height: 30px;
	}


	.price-heading h3 {
		font-size: 30px;
		line-height: 26px;
	}

	.price-heading span {
		font-size: 28px;
		line-height: 26px;
	}

	.price-heading p {
		font-size: 20px;
		margin-top: 2px;
	}

	.circle-right {
		right: -45%;
	}

	/* pricing end */

	/* About us start */

	.about-us {
		padding: 250px 50px;
	}

	.about-blob-left-top {
		right: 120px;
		height: 80px;
	}

	.circle-left {
		left: -44%;
	}

	.about-blob-right {
		right: 50px;
		height: 110px;
	}

	.about-us-content .description {
		font-size: 20px;
		line-height: 35px;
	}

	.about-blob-left {
		left: 50px;
		height: 80px;
	}

	/* About us end */

	/* faq start */

	.collapsible-link {
		font-size: 24px;
	}

	.card-body p {
		font-size: 18px;
		line-height: 30px;
	}

	.faq-blob-right {
		right: 20px;
		height: 55px;
	}
	
	.card {
    margin: 20px 165px;
	    
	}


	/* faq end */

	/* still not sure start */

	.not-sure-content .quote {
		height: 20px;
	}

	.not-sure-content .avatar {
		height: 80px;
		width: 80px;
		border-radius: 50%;
	}

	.avatar-content {
		width: 75%;
		font-size: 14px;
	}

	.not-sure-content .not-sure-content-preview {
		height: 405px;
	}

	/* still not sure end */

	/* footer start */

	footer .graph {
		margin-top: -150px;
	}
	
	footer .footer-wrap {
	    
    padding-bottom: 20px;
	    
	}

	.footer-inner .join-us h4 {
		font-size: 32px;
		line-height: 40px;
	}

	.join-us-btn .green-btn {
		margin: 0px 10px;
	}

	.join-us-btn .white-btn {
		margin: 0px 10px;
	}

	.social-media h4 {
		font-size: 28px;
		line-height: 40px;
	}

	.important-links h4 {
		font-size: 28px;
	}

	.social-media a {
		background-color: #585858;
		border-radius: 10px;
		width: 60px;
		height: 60px;
		margin: 20px 15px;
	}

	.social-media a img {
		height: 30px;
	}

	/* footer end */

}

@media only screen and (max-width: 1320px) {

	/* banner start  */
	
	.banner {
    padding: 200px 0px 0px;
}

	.banner-blob-right {
		height: 65px;
	}

	.banner .banner-inner {
		padding: 40px 0px 0px 50px;
	}

	.banner-inner h1 {
		font-size: 55px;
		max-width: 680px;
		line-height: 75px;
	}


	.banner-inner p {
		font-size: 19px;
		line-height: 50px;
	}


	.banner-blob-left {
		height: 65px;
	}

	/* banner End  */

	/* pricing start */

	.pricing-inner {
		margin-top: -260px;
	}

	.pricing-blob-right {
		right: 65px;
		margin-top: 70px;
		height: 65px;
	}

	.pricing-blob-left {
		left: 20px;
		margin-top: 340px;
		height: 65px;
	}

	.sub-heading {
		font-size: 45px;
		line-height: 30px;
	}

	.sub-description {
		font-size: 17px;
		line-height: 25px;
	}

	.price-heading h3 {
		font-size: 28px;
		line-height: 24px;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	.price-heading span {
		font-size: 24px;
		line-height: 24px;
	}

	.price-heading p {
		font-size: 18px;
		margin-top: 2px;
	}

	.account-services li {
		font-size: 14px;
		line-height: 26px;
	}

	.circle-right {
		right: -40%;
	}

	/* pricing end */

	/* About us start */

	.about-us {
		padding: 250px 50px;
	}

	.about-blob-left-top {
		right: 140px;
		height: 65px;
	}

	.circle-left {
		left: -45%;
	}

	.about-blob-right {
		right: 50px;
		height: 85px;
	}

	.about-us-content .description {
		font-size: 18px;
		line-height: 32px;
	}

	.about-blob-left {
		left: 50px;
		height: 65px;
	}

	/* About us end */

	/* faq start */

	.collapsible-link {
		font-size: 22px;
	}

	.card-body p {
		font-size: 16px;
		line-height: 30px;
	}

	.faq-blob-right {
		right: 20px;
		height: 65px;
	}

	/* faq end */

	/* still not sure start */

	.not-sure-content .quote {
		margin-top: 0px;
		height: 17px;
	}

	.not-sure-content .avatar {
		height: 70px;
		width: 70px;
		padding: 4px 4px;
	}

	.avatar-content {
		width: 72%;
		padding-left: 10px;
		font-size: 13px;
		line-height: 27px;
	}

	.not-sure-content .not-sure-content-preview {
		height: 420px;
	}

	/* still not sure end */

	/* footer start */

	footer .graph {
		margin-top: -130px;
	}

	.footer-inner .join-us h4 {
		font-size: 30px;
		line-height: 35px;
	}

	.join-us-btn .green-btn {
		margin: 0px 8px;
	}

	.join-us-btn .white-btn {
		margin: 0px 8px;
	}

	.social-media h4 {
		font-size: 25px;
		line-height: 40px;
	}

	.important-links h4 {
		font-size: 25px;
	}

	.social-media a {
		width: 65px;
		height: 65px;
	}

	.social-media a img {
		height: 25px;
	}

	.important-links ul li {
		font-size: 13px;
		line-height: 34px;
	}

	.copyright img {
		height: 45px;
	}

	.copyright p {
		font-size: 12px;
	}

	footer .footer-wrap {
		padding-bottom: 70px;
	}
	/* footer end */

}

@media only screen and (max-width: 1199px) {

	/* header start */
	.nav-content .header-btn {
		width: 155px;
		height: 50px;
	}

	/* header start */

	/* banner start  */
	.banner {
    padding: 205px 0px 0px;
}

	.banner-blob-right {
		height: 55px;
	}

	.banner .banner-inner {
		padding: 0px 0px 0px 50px;
	}

	.banner-inner h1 {
		font-size: 50px;
		max-width: 570px;
		line-height: 60px;
	}


	.banner-inner p {
		font-size: 18px;
		line-height: 50px;
		margin-bottom: 45px;
	}


	.banner-blob-left {
		margin-top: 26px;
		height: 36px;
	}

	/* banner End  */

	/* pricing start */

	.pricing-blob-right {
		right: 55px;
		height: 55px;
	}

	.pricing-blob-left {
		margin-top: 340px;
		height: 55px;
	}

	.sub-heading {
		font-size: 45px;
		line-height: 28px;
	}

	.sub-description {
		font-size: 17px;
		line-height: 23px;
	}

	.price-heading h3 {
		font-size: 25px;
	}

	.price-heading span {
		font-size: 21px;
		line-height: 24px;
	}

	.price-heading p {
		font-size: 17px;
		margin-top: 1px;
	}

	.pricing-card-content .account-services {
		padding-top: 35px;
		min-height: 250px;
	}

	.account-services li {
		font-size: 14px;
		line-height: 26px;
	}

	.circle-right {
		right: -40%;
	}

	/* pricing end */

	/* About us start */

	.about-us {
		padding: 220px 50px;
	}

	.about-blob-left-top {
		right: 100px;
		height: 55px;
	}

	.circle-left {
		left: -45%;
	}

	.about-blob-right {
		right: 50px;
		height: 75px;
	}

	.about-us-content .description {
		font-size: 17px;
		line-height: 30px;
	}

	.about-blob-left {
		left: 40px;
		height: 55px;
	}

	/* About us end */

	/* faq start */

	.collapsible-link {
		font-size: 21px;
		padding: 25px;
	}

	.card-body p {
		font-size: 16px;
		line-height: 30px;
	}

	.faq-blob-right {
		right: 20px;
		height: 55px;
	}

	/* faq end */

	/* still not sure start */

	.not-sure-content .quote {
		margin-top: 0px;
		height: 15px;
	}

	.not-sure-content .avatar {
		height: 60px;
		width: 60px;
	}

	.avatar-content {
		width: 68%;
		padding-left: 12px;
		font-size: 13px;
		line-height: 27px;
		font-size: 10px;
	}

	.not-sure-content .not-sure-content-preview {
		height: 365px;
	}

	.not-sure .not-sure-inner {
		padding: 40px 0px 70px;
		max-width: 940px;
	}
	.ocgn-content .ocgn-content-inner span {
		font-size: 22px;
	}

	.ocgn-content .ocgn-content-inner h6 {
		font-size: 32px;
		margin-bottom: 20px;
	}

	.ocgn-content .gain-content {
		font-size: 15px;
	}

	.ocgn-content .gain-content img {
		width: 18px;
	}

	.not-sure-content .entry-sold-content p {
		font-size: 19px;
		line-height: 1.57;
	}
	/* still not sure end */

	/* footer start */

	.footer-inner .join-us h4 {
		font-size: 28px;
		line-height: 35px;
	}

	.join-us-btn .green-btn {
		font-size: 17px;
		margin: 0px 6px;
	}

	.join-us-btn .white-btn {
		font-size: 17px;
		margin: 0px 6px;
	}

	.social-media h4 {
		font-size: 22px;
		line-height: 40px;
	}

	.important-links h4 {
		font-size: 22px;
	}

	.social-media a {
		width: 55px;
		height: 55px;
	}

	.social-media a img {
		height: 21px;
	}

	footer .footer-wrap {
		padding-bottom: 55px;
	}

	.copyright {
		padding-top: 60px;
	}


	/* footer end */

}

@media only screen and (max-width: 991px) {

	/* header start */
	header {
		padding: 41px 0px 0px;
	}

	/* header end */

	/* banner start  */

	.banner-blob-right {
		height: 45px;
	}

	.banner-inner h1 {
		font-size: 42px;
		max-width: 530px;
		line-height: 50px;
	}
	.banner .banner-preview {
    max-width: calc(100% + 8%);
    margin-top: -87px;
	   
	    
	}


	.banner-inner p {
		font-size: 15px;
		line-height: 35px;
		margin-bottom: 45px;
	}

	.banner-blob-left {
		margin-top: 60px;
		height: 32px;
	}

	.banner-inner .general-btn {
		font-size: 14px;
	}

	.general-btn i {
		padding-top: 10%;
	}

	/* banner End  */

	/* pricing start */

	.pricing-inner {
		margin-top: -180px;
	}

	.pricing-blob-right {
		height: 45px;
	}

	.pricing-blob-left {
		margin-top: 340px;
		height: 45px;
	}

	.sub-heading {
		font-size: 40px;
		line-height: 24px;
	}

	.sub-description {
		font-size: 14px;
		line-height: 20px;
	}

	.price-heading h3 {
		font-size: 22px;
	}

	.price-heading span {
		font-size: 19px;
		line-height: 20px;
	}

	.price-heading p {
		font-size: 15px;
		margin-top: 1px;
	}

	.pricing-card-content .account-services {
		padding-top: 45px;
		min-height: 250px;
	}

	.pricing-card-content .account-services li {
		font-size: 14px;
		line-height: 26px;
	}

	.circle-right {
		right: -40%;
	}

	/* pricing end */

	/* About us start */

	.about-us {
		padding: 220px 50px;
	}

	.about-blob-left-top {
		right: 100px;
		height: 45px;
	}

	.circle-left {
		left: -45%;
	}

	.about-blob-right {
		right: 40px;
		height: 55px;
	}

	.about-blob-left {
		height: 45px;
	}

	/* About us end */

	/* faq start */

	.faq .faq-headings {
		text-align: center;
	}

	.card {
		margin: 20px 100px;
	}

	.collapsible-link {
		font-size: 19px;
		padding: 20px 20px;
	}

	.card-body {
		padding: 30px 20px !important;
	}

	.card-body p {
		font-size: 16px;
		line-height: 30px;
	}

	.faq-blob-right {
		right: 20px;
		height: 45px;
	}

	/* faq end */

	/* still not sure start */

	.not-sure {
		padding: 160px 0px 0px;
	}

	.not-sure-content .quote {
		height: 15px;
	}

	.not-sure-content .avatar {
		height: 70px;
		width: 70px;
	}

	.avatar-content {
		width: 85%;
		font-size: 14px;

	}

	.not-sure-content .not-sure-content-preview {
		height: 350px;
	}

	.not-sure .not-sure-inner {
		padding: 30px 0px 60px;
		max-width: 720px;
	}

	.ocgn-content .ocgn-content-inner span {
		font-size: 18px;
	}

	.ocgn-content .ocgn-content-inner h6 {
		font-size: 28px;
		margin-bottom: 18px;
	}

	.ocgn-content .gain-content {
		font-size: 14px;
	}

	.ocgn-content .gain-content img {
		width: 18px;
	}

	.not-sure-content .entry-sold-content p {
		font-size: 17px;
		line-height: 1.5;
		margin-bottom: 22px;
	}

	.not-sure-content .ocgn-content {
		width: 350px;
		padding: 30px 0 15px;
	}

	.not-sure-content .entry-sold-content {
		width: calc(100% - 320px);
		padding: 20px 50px 29px;
	}
	/* still not sure end */

	/* footer start */

	.footer-inner .join-us h4 {
		font-size: 22px;
		line-height: 35px;
	}

	.join-us-btn .green-btn {
		margin: 0px 8px;
		font-size: 12px;
	}

	.join-us-btn .white-btn {
		margin: 0px 8px;
		font-size: 12px;
	}

	.white-btn i {
		padding-top: 12%;
	}

	.social-media h4 {
		font-size: 20px;
		line-height: 35px;
	}

	.important-links {
		padding: 30px 20px;
	}

	.important-links h4 {
		font-size: 20px;
		line-height: 35px;
		padding-left: 0px;
	}

	.social-media a {
		width: 50px;
		height: 50px;
	}

	.social-media a img {
		height: 19px;
	}

	.copyright p {
		font-size: 10px;
	}

	/* footer end */

}
@media only screen and (max-width: 767px) {
	/* header start */
	header {
		padding: 105px 0px 0px;
	}

	header .navbar .navbar-brand {
		width: 180px;
		height: 22px;
		padding: 0;
		margin: 0 auto;
		font-size: unset;
		display: inline-block;
	}

	header .navbar .navbar-brand img {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}

	header .navbar {
		text-align: center;
	}

	header .navbar .nav-content {
		display: none;
	}

	.nav-content .header-btn {
		width: 125px;
		height: 40px;
		font-size: 14px;
	}
	/* header end */

	/* banner start  */
	.banner .banner-inner {
		margin: 0 auto 73px;
		padding: 0;
		text-align: center;
		max-width: 300px;
	}

	.banner {
		padding: 158px 0px 0px;
	}

	.banner-blob-right {
		height: 37px;
		right: 31px;
		top: 55px;
	}

	.banner-inner h1 {
		font-size: 35px;
		max-width: 100%;
		line-height: 45px;
	}

	.banner-inner p {
		font-size: 13px;
		line-height: 30px;
		margin-bottom: 25px;
	}

	.banner-inner ul {
		justify-content: center;
	}

	.banner-blob-left {
		margin-top: -24px;
		height: 30.35px;
	}

	.banner-inner ul li:last-child {
		display: inline-block;
	}

	.banner-inner .general-btn {
		font-size: 16px;
		width: 155px;
		height: 44px;
		position: static;
	}

	.general-btn img {
		margin: auto 0px auto 10.5px;
	}

	.general-btn.black-btn {
		border: 3px solid #68F758;
		background: transparent;
		width: auto;
		padding: 0 30px;
	}

	.banner .banner-preview {
		max-width: unset;
		margin-top: 0;
		display: none;
	}

	.banner .banner-preview-mobile {
		display: block;
		width: 100%;
	}

	/* banner End  */

	/* pricing start */

	.pricing-inner {
		margin-top: -180px;
		padding: 30px 0px 0px;
	}

	.pricing-blob-right {
		height: 40px;
		display: none;
	}

	.pricing-blob-left {
		margin-top: 280px;
		height: 40px;
		display: none;
	}

	.sub-heading {
		font-size: 35px;
		line-height: 1;
		padding-bottom: 15px;
	}

	.sub-description {
		font-size: 15px;
		font-weight: 500;
		line-height: 1.5;
	}

	.pricing-card .pricing-card-content {
		margin: 0px auto 30px;
		padding: 31px 30px 21px;
		max-width: 300px;
	}

	.pricing-card-content .price-row {
		display: flex;
		align-items: center;
		margin: 0;
	}

	.pricing-card-content .price-icon {
		width: 80px;
	}

	.price-heading h3 {
		font-size: 21px;
		padding: 0;
		line-height: 1.35;
	}	

	.price-heading span {
		font-size: 16px;
		line-height: 21px;
		justify-content: flex-start;
	}

	.price-heading p {
		font-size: 11px;
		margin-top: 1px;
	}

	.pricing-card-content .account-services {
		padding-top: 20px;
		min-height: unset;
		margin-bottom: 30px;
	}

	.pricing-card-content .account-services li {
		font-size: 12px;
		line-height: 1.6;
	}

	.pricing-card-content a {
		background: linear-gradient(45deg, #57D760, #32A936);
		width: 100%;
		height: 31px;
		font-size: 11px;
	}

	.pricing-card-content .price-heading {
		margin-left: 0;
		padding-left: 8px;
		padding-bottom: 7px;
		width: calc(100% - 80px);
	}

	.pricing-inner .pricing-card {
		padding-top: 37px;
	}

	.free-pricing-card a {
		background: linear-gradient(45deg, #2D2D2D, #2D2D2D);
		width: 100%;
		height: 31px;
		font-size: 11px;
		margin: 12px 0 0;
	}

	.circle-right {
		right: -50%;
		height: 600px;
		display: none;
	}

	.free-pricing-card .price-heading p {
		font-size: 10px;
		margin-top: 7px;
	}

	.pricing-card .free-pricing-card.pricing-card-content {
		margin: 0px auto 0;
		padding: 28px 28px 24px;
		max-width: 300px;
	}
	/* pricing end */

	/* About us start */
	.about-us {
		padding: 120px 50px;
		display: none;
	}

	.about-blob-left-top {
		margin-top: 0px;
		right: 100px;
		height: 40px;
	}

	.circle-left {
		left: -55%;
		height: 750px;
		display: none;
	}

	.about-blob-right {
		right: 40px;
		height: 55px;
	}

	.about-blob-left {
		height: 40px;
	}
	/* About us end */

	/* faq start */
	.faq {
		padding: 27px 0px 0px;
		margin-top: 0;
		background: unset;
	}

	.faq .faq-headings {
		text-align: center;
	}

	.card {
		margin: 20px 5px;
		border-radius: 10px;
	}

	.accordion .card:last-child {
		margin-bottom: 0;
	}

	.collapsible-link {
		font-size: 16px;
		padding: 18px 30px 14px;
		transition: 0.6s all ease;
		line-height: 21px;
	}

	.collapsible-link.collapsed {
		padding: 18px 50px 18px 30px;
	}

	.collapsible-link::before {
		font-size: 16px;
		right: 30px;
	}

	.card-header {
		background: unset;
		background: linear-gradient(45deg , #2D2D2D, #2D2D2D);
	}

	.card-body {
		padding: 0px 30px 31px !important;
	}

	.card-body p {
		font-size: 14px;
		line-height: 19px;
	}

	.faq-blob-right {
		right: 20px;
		height: 40px;
		display: none;
	}
	/* faq end */

	/* still not sure start */
	.not-sure {
		padding: 100px 0px 0px;
		/* display: none; */
	}

	.not-sure-content .quote {
		height: 12px;
	}

	.not-sure-content .avatar {
		height: 65px;
		width: 65px;
	}

	.avatar-content {
		width: 75%;
		font-size: 12px;
	}

	.not-sure-content .not-sure-content-preview {
		height: 300px;
		margin-top: 30px;
	}


	.not-sure .not-sure-inner {
		padding: 20px 0px 50px;
		max-width: 560px;
	}

	.ocgn-content .ocgn-content-inner span {
		font-size: 15px;
		line-height: 1.34;
	}

	.ocgn-content .ocgn-content-inner h6 {
		font-size: 24px;
		margin-bottom: 15.3px;
	}

	.ocgn-content .gain-content {
		font-size: 14px;
		padding: 0 19px;
	}

	.ocgn-content .gain-content img {
		width: 12px;
		margin-right: 6.4px;
	}

	.not-sure-content .entry-sold-content p {
		font-size: 14px;
		line-height: 1.4;
		margin-bottom: 11px;
		max-width: 160px;
	}

	.not-sure-content .ocgn-content {
		width: 100%;
		padding: 24.5px 0 11.5px;
		min-height: unset;
	}

	.not-sure-content .entry-sold-content,
	.not-sure-content:nth-child(even) .entry-sold-content {
		width: 100%;
		padding: 15px 30px 60.1px;
		min-height: unset;
		margin: 0 0 -44px;
		border-radius: 15px 15px 0 0;
	}

	.not-sure-inner .not-sure-content,
	.not-sure-inner .not-sure-content:nth-child(even) {
		flex-direction: column-reverse;
		padding: 0 45px;
	}

	.not-sure-content .ocgn-content .ocgn-content-inner {
		padding-left: 33px;
	}

	.not-sure-content .ocgn-content .ocgn-content-inner:nth-child(2) {
		padding-left: 30px;
	}
	/* still not sure end */

	/* footer start */
	footer .graph {
		margin-top: -150px;
		display: none;
	}

	footer .graph-mobile {
		display: block;
		margin-top: 0;
		width: 100%;
	}

	footer .footer-wrap {
		margin-top: 0px;
		padding-bottom: 49.5px;
		background : linear-gradient(to right, #1a1a1a , #0E0E0E);
	}

	footer .footer-inner {
		margin-top: 7px;
	}

	footer .footer-inner .footer-logo {
		display: block;
		width: 49px;
		margin: 0 auto 43.5px;
	}

	.footer-inner .join-us h4 {
		font-size: 20px;
		line-height: 30px;
		display: none;
	}

	.join-us-btn .green-btn {
		margin: 0px 0px 20px;
		font-size: 14px;
		width: 147px;
		height: 39px;
	}

	.join-us-btn .white-btn {
		margin: 0px;
		font-size: 14px;
		width: 147px;
		height: 39px;
	}

	.footer-inner .join-us .join-us-btn {
		margin-top: 0;
		flex-direction: column;
		align-items: flex-end;
	}

	.white-btn i {
		padding-top: 0;
		height: auto;
		margin: auto 0px auto 13.5px;
	}

	.social-media h4 {
		font-size: 18px;
		line-height: 30px;
		display: none;
	}

	.important-links h4 {
		font-size: 18px;
		line-height: 30px;
		padding-left: 0px;
		display: none;
	}

	.important-links ul {
		padding-top: 0px;
	}

	.footer-inner .social-media {
		margin-top: 40px;
	}

	.social-media a {
		width: 52px;
		height: 52px;
		margin: 0;
		margin-right: 70px;
	}

	.social-media a:last-child {
		margin-right: 0;
	}

	.social-media a img {
		height: 22px;
	}

	.footer-inner .important-links {
		padding: 0px;
	}

	.important-links ul li {
		font-size: 14px;
		line-height: 1.3;
		margin-bottom: 22px;
	}

	.important-links ul li:last-child {
		margin-bottom: 0;
	}

	.copyright img {
		height: 25px;
		display: none;
	}

	.copyright {
		padding-top: 29.5px;
	}

	.copyright p {
		font-size: 14px;
		line-height: 19px;
		color: #747474;
		text-align: center;
	}
	/* footer end */
}

@media only screen and (max-width: 640px) {
.not-sure .not-sure-inner {
		padding-bottom: 40px;
	}
}

@media only screen and (max-width: 575px) {
	.pricing {
		padding: 0px 10px 50px;
	}

	.banner .banner-preview-mobile {
		display: block;
		max-width: unset;
		width: calc(100% + 92px);
		margin-left: -46px;
	}
	.not-sure .not-sure-inner {
		padding-bottom: 30px;
	}
	
}

@media only screen and (max-width: 480px) {
	.pricing {
		padding: 0px 5px 50px;
	}

	.pricing-card .pricing-card-content {
		margin: 0px auto 30px;
		padding: 31px 10px 21px;
		max-width: 248px;
	}

	.pricing-card-content .account-services {
		padding: 20px 17px 0;
		min-height: unset;
		margin-bottom: 30px;
	}

	.pricing-card-content a {
		width: calc(100% - 34px);
		margin: 5px 17px 0;
	}

	.pricing-inner {
		margin-top: -140px;
		padding: 24px 0px 0px;
	}

	.pricing-card .free-pricing-card.pricing-card-content {
		padding: 20px 27px 24px;
		max-width: 246px;
	}

	.staff-members-wrap .staff-members-content .staff-members-content-inner ul li:last-child {
		display: none;
	}
	.not-sure .not-sure-inner {
		padding-bottom: 0px;
	}
}

@media only screen and (max-width: 400px) {
	.not-sure-inner .not-sure-content,
	.not-sure-inner .not-sure-content:nth-child(even) {
		flex-direction: column-reverse;
		padding: 0 15px;
	}
}

@media only screen and (max-width: 370px) {
	.pricing-inner {
		margin-top: -120px;
	}

	.collapsible-link.collapsed {
		padding: 16px 40px 16px 20px;
	}
	
	.collapsible-link::before {
		right: 20px;
	}

	.faq .faq-headings {
		padding-left: 31px;
	}

	.join-us-btn .green-btn,
	.join-us-btn .white-btn {
		width: 100%;
	}

	.footer-row {
		margin: 0 -10px;
	}

	.footer-row .footer-col {
		padding: 0 10px;
	}

	.social-media a {
		margin-right: 42px;
	}

	.pricing {
		padding: 0px 0px 50px;
	}
	
	.not-sure-inner .not-sure-content,
	.not-sure-inner .not-sure-content:nth-child(even) {
		flex-direction: column-reverse;
		padding: 0;
	}
}


	/* still not sure end */
	
// Example
// Apply styles starting from medium devices and up to extra large devices
@media (min-width: 768px) and (max-width: 1199.98px) { 
	display: flex;
	}

}
